<nav th:fragment="pagination" aria-label="Product Pagination">
    <ul class="pagination justify-content-center">
        <!-- Previous Page -->
        <li class="page-item" th:classappend="${activePage == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/category/{id}(id=${categoryId}, page=${activePage - 1})}">Previous</a>
        </li>

        <!-- Page Numbers -->
        <li class="page-item" th:each="page : ${pages}" th:classappend="${page == activePage} ? 'active'">
            <a class="page-link" th:href="@{/category/{id}(id=${categoryId}, page=${page})}" th:text="${page}"></a>
        </li>

        <!-- Next Page -->
        <li class="page-item" th:classappend="${activePage == pages.size()} ? 'disabled'">
            <a class="page-link" th:href="@{/category/{id}(id=${categoryId}, page=${activePage + 1})}">Next</a>
        </li>
    </ul>
</nav>
